h4.narcisse small
{
  color: #fff;
  background: #dd4d42;
  margin: 0 0 0 10px;
  font-weight: bold;
  padding: 0 4px;
  font-style: italic;
}

.row
{
  margin-bottom: 15px;
}

#page-container > .row
{
  margin-bottom: 0;
}

img
{
  max-width: 100%;
}

.sub-header
{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top
{
  border: 0;
}

.placeholders
{
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4
{
  margin-bottom: 0;
}

.placeholder
{
  margin-bottom: 20px;
}

.placeholder img
{
  display: inline-block;
  border-radius: 50%;
}

.page-header
{
  margin-top: 0;
}

@media (min-width: 768px)
{
  #page-container > .row
  {
    margin-right: 0;
    margin-left: 0;
  }

  #background-container
  {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    background-size: cover;
    background-position: 80% top;
    background-repeat: no-repeat;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -ms-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
  }

  #true-body
  {
    background-color: #fff;
    z-index: 2;
    padding: 20px 40px;
  }

  body > .container-fluid
  {
    margin-right: 80px;
    padding: 0;
  }

  #menu-vertical
  {
    z-index: 3;
    display: block;
    width: 80px;
    height: 100%;
    position: fixed;
    background: black;
    padding: 0;
    right: 0;
    top: 0;
    overflow: hidden;
  }

  #menu-vertical .navbar-inner, #menu-vertical .container
  {
    width: 80px;
    height: 100%;
    position: relative;
    background-color: #000;
    padding: 0;
  }

  #menu-vertical ul.nav li a
  {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    display: block;
    line-height: 1;
    font: 12px/12px arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: 16px 0 16px 11px;
    text-align: left;
    text-rendering: auto;
    vertical-align: baseline;
    margin: 0;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -ms-transition: color 0.2s, background-color 0.2s;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }

  #menu-horyzontal
  {
    display: none;
  }

  #menu-vertical ul.nav li.active a
  {
    color: #DB2E34;
  }

  #menu-vertical ul.nav li a:hover
  {
    color: #DB2E34;
  }

  #menu-vertical .brand
  {
    display: none;
  }

  #menu-vertical li
  {
    float: left;
  }
}

@media (max-width: 768px)
{
  body
  {
    padding-top: 50px;
  }

  #menu-vertical
  {
    display: none;
  }

  #background-container
  {
    display: none;
  }

  #true-body
  {
    padding: 20px;
  }
}